<!doctype html>
<html xmlns:margin-left="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml">
   <body>
      <h2 style = "text-align: center;">Registration Form</h2>

<!--      {% for message in form.profile.errors %}-->
<!--         <div>{{ message }}</div>-->
<!--      {% endfor %}-->


<!--      {% for message in form.user.errors %}-->
<!--         <div>{{ message }}</div>-->
<!--      {% endfor %}-->

      <form  method = "POST">
<!--            {{ form.csrf_token }}-->

            {{ form.hidden_tag() }}

            <div style = "font-size:18px;" font-weight:bold; margin-left:150px;>
               {{ form.profile.label }}<br>
               {{ form.profile }}
               <br>
               {{ form.startdate.label }}<br>
               {{ form.startdate }}
               {% for error in form.startdate.errors %}

            <span style="color: red;">[{{ error }}]</span>

               {% endfor %}
               <br>
               {{ form.enddate.label }}<br>
               {{ form.enddate }}
               <br>
               {{ form.user.label }}<br>
               {{ form.user }}
               <br>

               <br><br>
               {{ form.submit() }}
            </div>

         </fieldset>
      </form>
   </body>
</html>
